In [1]:
import csv
import pyspark as ps
import pandas as pd

spark = (ps.sql.SparkSession.builder
         .master("local[4]") 
         .appName("df lecture") 
         .getOrCreate())

sc = spark.sparkContext

In [2]:
# df = spark.read.csv('daily_data.csv')
# df.printSchema()

In [3]:
covids = sc.textFile('daily_data.csv')
covid_cols = covids.take(1)

def cols(covid_cols):
    return [column.split(',') for column in covid_cols]

cols(covid_cols)

[['date',
  'state',
  'positive',
  'negative',
  'pending',
  'hospitalizedCurrently',
  'hospitalizedCumulative',
  'inIcuCurrently',
  'inIcuCumulative',
  'onVentilatorCurrently',
  'onVentilatorCumulative',
  'recovered',
  'dataQualityGrade',
  'lastUpdateEt',
  'dateModified',
  'checkTimeEt',
  'death',
  'hospitalized',
  'dateChecked',
  'totalTestsViral',
  'positiveTestsViral',
  'negativeTestsViral',
  'positiveCasesViral',
  'deathConfirmed',
  'deathProbable',
  'fips',
  'positiveIncrease',
  'negativeIncrease',
  'total',
  'totalTestResults',
  'totalTestResultsIncrease',
  'posNeg',
  'deathIncrease',
  'hospitalizedIncrease',
  'hash',
  'commercialScore',
  'negativeRegularScore',
  'negativeScore',
  'positiveScore',
  'score',
  'grade']]

In [4]:
df_states = pd.read_csv('daily_data.csv')
df_us = pd.read_csv('us_daily.csv')

In [5]:
df_states

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200715,AK,1631.0,154462.0,NaN,32.0,NaN,NaN,NaN,0.0,...,156093,0,0,94f51a21cc1532dde7387df47013f567fb56d967,0,0,0,0,0,NaN
1,20200715,AL,59067.0,481982.0,NaN,1362.0,7291.0,NaN,941.0,NaN,...,541049,47,168,115a76b81b0c3c59d334b5de8180c2e10899dddc,0,0,0,0,0,NaN
2,20200715,AR,30297.0,365479.0,NaN,458.0,1948.0,NaN,NaN,94.0,...,395776,4,76,ce730ea246418cfcb8291076ec9ebfd46c643bfa,0,0,0,0,0,NaN
3,20200715,AS,0.0,816.0,NaN,NaN,NaN,NaN,NaN,NaN,...,816,0,0,4a0065a1c290d322d0dc631197c4e6cd8c714834,0,0,0,0,0,NaN
4,20200715,AZ,131354.0,604608.0,NaN,3493.0,6103.0,929.0,NaN,671.0,...,735962,97,161,cd92598667964b8af84aa921365c5bad41b04036,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7404,20200126,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,7acb526e14f20a29cc74a0b32a37328bc6eac6c2,0,0,0,0,0,NaN
7405,20200125,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,9b52ca94dd2a996822542ea5f17a7363e7ad91cf,0,0,0,0,0,NaN
7406,20200124,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,094154f68e74bfc30b977cdee888f9c07be4360e,0,0,0,0,0,NaN
7407,20200123,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,e16af2a6a8f060355ff5ba499a28309a262c0b1e,0,0,0,0,0,NaN
7408,20200122,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,0,8f8db794931706272489cddd51e917a4a69c8c9b,0,0,0,0,0,NaN

In [6]:
df_us

,date,states,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,lastModified,total,totalTestResults,posNeg,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease,hash
0,20200719,56,3755968,41978359,3052.0,57792.0,277378.0,6391.0,12391.0,2362.0,...,2020-07-19T00:00:00Z,45737379,45734327,45734327,523,939,704916,63907,768823,ebe3050d73d7ba561677c04e09d761cc028073ef
1,20200718,56,3692061,41273443,3032.0,57562.0,276439.0,6396.0,12342.0,2343.0,...,2020-07-18T00:00:00Z,44968536,44965504,44965504,872,2003,696591,65180,761771,a6838d287f4a1270b49fde1e76e01bab4e2d7b2e
2,20200717,56,3626881,40576852,3002.0,57705.0,274436.0,6453.0,12243.0,2353.0,...,2020-07-17T00:00:00Z,44206735,44203733,44203733,951,2678,774555,77233,851788,2fd5fa9462df840f6808d6757e4d13f702be8fdb
3,20200716,56,3549648,39802297,2929.0,57369.0,271758.0,6359.0,12091.0,2317.0,...,2020-07-16T00:00:00Z,43354874,43351945,43351945,974,2215,753635,70953,824588,8644aacf2b4997ff08daf87ae088c7f6a44cb367
4,20200715,56,3478695,39048662,2947.0,56143.0,269543.0,6317.0,12002.0,2317.0,...,2020-07-15T00:00:00Z,42530304,42527357,42527357,858,2416,697418,65382,762800,ef1be31b81541c1ff634f7adff6a5cebe14bab3e
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,20200126,1,2,0,NaN,NaN,NaN,NaN,NaN,NaN,...,2020-01-26T00:00:00Z,2,2,2,0,0,0,0,0,e1cf59ab48e1cf367c4a6798a508a23d9d36bd18
176,20200125,1,2,0,NaN,NaN,NaN,NaN,NaN,NaN,...,2020-01-25T00:00:00Z,2,2,2,0,0,0,0,0,bef2a1d5f2a13491e0e0369bbd46c10cdd12973b
177,20200124,1,2,0,NaN,NaN,NaN,NaN,NaN,NaN,...,2020-01-24T00:00:00Z,2,2,2,0,0,0,0,0,bfffe76fc0b7cf11efe8aecd3cc7b22598d77d61
178,20200123,1,2,0,NaN,NaN,NaN,NaN,NaN,NaN,...,2020-01-23T00:00:00Z,2,2,2,0,0,0,0,0,cee36ebf3174bf1df0daa36e1e8088a157406fad
179,20200122,1,2,0,NaN,NaN,NaN,NaN,NaN,NaN,...,2020-01-22T00:00:00Z,2,2,2,0,0,0,0,0,d538c99729d1fee626212d1878a100c1e1204a5f

In [7]:
df_states.date = df_states['date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))

In [17]:
df_states.drop(['pending', 'hash', 'grade', 'negativeScore', 'positiveScore', 'negativeRegularScore', 'score', 'commercialScore'], axis=1)

,date,state,positive,negative,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,...,fips,positiveIncrease,negativeIncrease,total,totalTestResults,totalTestResultsIncrease,posNeg,deathIncrease,hospitalizedIncrease,"Date: Year, Month, Day"
0,2020-07-15,AK,1631.0,154462.0,32.0,NaN,NaN,NaN,0.0,NaN,...,2,52,6568,156093,156093,6620,156093,0,0,2020-07-15
1,2020-07-15,AL,59067.0,481982.0,1362.0,7291.0,NaN,941.0,NaN,514.0,...,1,1812,10148,541049,541049,11960,541049,47,168,2020-07-15
2,2020-07-15,AR,30297.0,365479.0,458.0,1948.0,NaN,NaN,94.0,279.0,...,5,564,4913,395776,395776,5477,395776,4,76,2020-07-15
3,2020-07-15,AS,0.0,816.0,NaN,NaN,NaN,NaN,NaN,NaN,...,60,0,0,816,816,0,816,0,0,2020-07-15
4,2020-07-15,AZ,131354.0,604608.0,3493.0,6103.0,929.0,NaN,671.0,NaN,...,4,3257,10762,735962,735962,14019,735962,97,161,2020-07-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7404,2020-01-26,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,53,0,0,2,2,0,2,0,0,2020-01-26
7405,2020-01-25,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,53,0,0,2,2,0,2,0,0,2020-01-25
7406,2020-01-24,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,53,0,0,2,2,0,2,0,0,2020-01-24
7407,2020-01-23,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,53,0,0,2,2,0,2,0,0,2020-01-23
7408,2020-01-22,WA,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,53,0,0,2,2,0,2,0,0,2020-01-22

In [ ]:
items = (df_states.flatMap(lambda x: [word.lower() for word in x.get('text', " ").split() if word.startswith('#')]))

In [23]:
df_race = pd.read_csv('race_data.csv')
df_race.Date = df_race['Date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
df_race

,Date,State,Cases_Total,Cases_White,Cases_Black,Cases_LatinX,Cases_Asian,Cases_AIAN,Cases_NHPI,Cases_Multiracial,...,Deaths_LatinX,Deaths_Asian,Deaths_AIAN,Deaths_NHPI,Deaths_Multiracial,Deaths_Other,Deaths_Unknown,Deaths_Ethnicity_Hispanic,Deaths_Ethnicity_NonHispanic,Deaths_Ethnicity_Unknown
0,2020-07-19,AK,1874,726,45.0,NaN,67.0,247.0,66.0,53.0,...,NaN,2.0,4.0,1.0,0.0,0.0,0.0,0.0,18.0,0.0
1,2020-07-19,AL,67011,21399,19864.0,NaN,256.0,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,NaN,23.0,86.0,39.0,1074.0,173.0
2,2020-07-19,AR,33228,16216,7041.0,NaN,459.0,90.0,1907.0,NaN,...,NaN,6.0,0.0,29.0,NaN,25.0,2.0,35.0,320.0,2.0
3,2020-07-19,AS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-07-19,AZ,143624,23041,3102.0,33082.0,1056.0,8827.0,NaN,NaN,...,720.0,29.0,379.0,NaN,NaN,51.0,436.0,720.0,1605.0,436.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1611,2020-04-12,RI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1612,2020-04-12,SC,2010,1108,780.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN
1613,2020-04-12,SD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1614,2020-04-12,TN,5308,2504,922.0,NaN,73.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1615,2020-04-12,TX,2021,787,223.0,518.0,91.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN